<!-- Top blue ribbon -->
<div
  class="bg-[#003366] text-white flex justify-start items-center gap-2 px-8 py-2 text-sm"
>
  <img
    src="assets/icons/header/flag-dominicana.svg"
    alt="Dominican Republic Flag"
    class="h-4 w-auto"
  />
  <span>This is an official government website of the Dominican Republic</span>
  <a href="#" class="underline hover:no-underline text-white">
    How to verify its authenticity?
  </a>
</div>

<!-- Main header -->
<header
  class="flex justify-between items-center px-8 py-4 bg-white border-b border-gray-200 relative"
>
  <div class="flex items-center gap-4">
    <img src="assets/icons/header/Logo.svg" alt="Logo" class="h-10" />
    <!-- <span class="font-semibold uppercase tracking-wide text-gray-800"
      >LOGO</span
    > -->
  </div>

  <!-- Language dropdown -->
  <div class="relative">
    <app-language-selector theme="light"></app-language-selector>
  </div>
</header>
